/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
/* font-family: 'oswald', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* font-family: 'Lora', serif; */

/*
YELLOW - ea9215
WHITE - eeeeee
BLACK - 303841

GRAY - 545454
LIGHT GRAY - 848484

*/

body {
  margin: 0;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
  STRIPES
  background-image: linear-gradient(125deg, #ffc31c 25%, #545454 25%, #545454 50%, #ffc31c 50%, #ffc31c 75%, #545454 75%, #545454 100%);
  background-size: 48.83px 69.74px;
*/

.App-header {
  height: 15vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: none;
}

.Nav-btn-container-top {
  background-image: linear-gradient(#ea9f00, #ea9215);
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Nav-btn-container-left {
  width: 70vw;
  display: flex;
  justify-content: Left;
}

.heading {
  color: #eee;
}

.heading-a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ea9215;
  background: #eee;
  border-radius: 2px;
}

.heading-b {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Nav-btn-container-right {
  display: flex;
  justify-content: space-evenly;
  width: 30vw;
}

/* NAV BOTTOM */
.Nav-btn-container-bottom {
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  background-image: linear-gradient(125deg, #ea9f00 25%, #ea9215 25%, #ea9215 50%, #ea9f00 50%, #ea9f00 75%, #ea9215 75%, #ea9215 100%);
  background-size: 48.83px 69.74px;
  color: #303841;
  box-shadow: 2px 2px 2px #3038417a;
}

.Nav-btn-container-bottom button {
  font-weight: bold;
  font-style: none;
}

/* .page-heading {
  color: #303841;
  width: 90vw;
  border-bottom: 1px solid #303841;
  text-align: left;
} */

/*HOME*/

.bg-container {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.tech-logo-background {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #303841;
  border-radius: 100px;
  padding: 20px;
}

.tech-logo {
  width: 100px;
  height: 100px;
}

/* PROJECTS */

/* .page-component-container-projects {
  background-image: linear-gradient(#eee, #fff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* PROJECTS CARD */
.project-card {
  display: flex;
  flex-direction: column;
  background-color: #303841d0;
  color: #eee;
  box-shadow: 2px 2px 5px #303841d0;
  border-radius: 2px;
  /* border: 2px solid #ea9215; */
}

.card-header {
  background: #ea9215;
  color: #303841;
  font-family: 'oswald', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  border: 1px solid #ea9f00;
}

.card-info {
  font-family: 'oswald', sans-serif;
  letter-spacing: 1px;
}

.project-link {
  padding: 2px;
  color: #eee;
  -webkit-text-fill-color: #eee;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #303841;
  background: #ea9f00;
  font-weight: bold;
  border: 1px solid #ea9f00
}

/* 303841 */

.project-link:hover {
  color: #ea9f00;
  -webkit-text-fill-color: #ea9f00;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #303841;
  background: #eee;
  transition: 0.5s ease-in-out;
}

/*ABOUT*/
.page-component-container-about {
  background-image: linear-gradient(#fff, #eee);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-table {
  height: 100px;
  border: none;
  text-align: center;
  margin: 10px 0px;
  border-spacing: 10px;
  border-collapse: separate;
}

.about-table td {
  color: #eee;
  width: 50%;
  padding: 15px;
  border: none;
  background: #303841;
  border-radius: 5px;
}

.profile-portrait {
  border-radius: 500px;
}

.summary-table-head {
  color: #303841;
  padding: 10px;  
  border: none;
  background: #ea9f00;
  border-radius: 5px;
  font-weight: bold;
}

.summary-table {
  height: 100px;
  border: none;
  text-align: center;
  margin: 10px 0px;
  border-spacing: 10px;
  border-collapse: separate;
}

.summary-table td {
  color: #303841;
  width: 50%;
  padding: 10px;
  border: none;
  border:1px solid #ea9f00;
  background: #eee;
  border-radius: 5px;
  font-weight: bold;
}

/*CONTACT*/
.page-component-container-contact {
  background: #eee;
  height: 85vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-card {
  background: #303841;
  border-radius: 15px;
}

.contact-link {
  text-decoration: none;
  color: cyan;
  font-weight: bold;
  margin-bottom: 5px;
}
  
.contact-link:hover {
  color: #eee;
  -webkit-text-fill-color: #eee;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: cyan;
}

.svg-icon {
  border: 3px solid #eee;
  border-radius: 100px;
}

.Nav-btn-container-bottom button:hover {
  color: #ea9f00;
  text-shadow: 1px 2px 2px #303841d0;
  background: #303841;
  transition: 0.5s;
  font-weight: none;
  font-style: italic;
}

button:focus {
  outline: none;
}

.heading:hover .heading-a {
  transition: 0.5s;
  background: #303841;
}

.heading:hover .heading-b {
  transition: 0.5s;
  color: #303841;
}

/* 11 */

.contact-link:hover {
    text-decoration: none;
    color: #eee;
}