/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

/*
YELLOW - ea9215
WHITE - eeeeee
BLACK - 303841

GRAY - 545454
LIGHT GRAY - 848484

*/

body {
  margin: 0;
  font-family: 'oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: cyan;
}

/* background: #282c34; */
/* font-size: calc(10px + 2vmin); */

/*
  STRIPES
  background-image: linear-gradient(125deg, #ffc31c 25%, #545454 25%, #545454 50%, #ffc31c 50%, #ffc31c 75%, #545454 75%, #545454 100%);
  background-size: 48.83px 69.74px;
*/

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.App-header {
  height: 15vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: none;
}

.Nav-btn-container-top {
  background-image: linear-gradient(#ea9f00, #ea9215);
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Nav-btn-container-left {
  width: 70vw;
  display: flex;
  justify-content: Left;
}

.heading {
  color: #eee;
}

.heading-a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ea9215;
  background: #eee;
  border-radius: 2px;
  font-family: 'Oswald', sans-serif;
  /* box-shadow: 2px 2px 2px #3038417a; */
}

.heading-b {
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: #eee; */
  font-family: 'Oswald', sans-serif;
  /* text-shadow: 2px 2px 2px #3038417a; */
}

.Nav-btn-container-right {
  display: flex;
  justify-content: space-evenly;
  width: 30vw;
}

/* NAV BOTTOM */
.Nav-btn-container-bottom {
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  /* background: #ffc31c; */
  background-image: linear-gradient(125deg, #ea9f00 25%, #ea9215 25%, #ea9215 50%, #ea9f00 50%, #ea9f00 75%, #ea9215 75%, #ea9215 100%);
  background-size: 48.83px 69.74px;
  color: #303841;
  font-weight: bold;
  box-shadow: 2px 2px 2px #3038417a;
}

.page-component-container {
  background: #eee;
  height: 85vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-heading {
  color: #303841;
  width: 90vw;
  border-bottom: 1px solid #303841;
  font-family: 'Oswald', sans-serif;
  text-align: left;
}

.page-component-container-home {
  background-image: linear-gradient(#eee, #fff);
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-component-container-projects {
  background-image: linear-gradient(#eee, #fff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech-container {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.tech-logo {
  width: 100px;
  height: 100px;
}

/* PROJECTS */
/* PROJECTS CARD */
.project-card {
  display: flex;
  flex-direction: column;
  background-color: #303841d0;
  color: #eee;
  box-shadow: 2px 2px 2px #303841d0;
  border-radius: 2px;
  /* border: 2px solid #ea9215; */
}

.card-header {
  background: #ea9215;
  color: #303841;
}

.card-image {
  /* border: 1px solid pink; */
}

.card-info {
  /* border: 1px solid green; */
}

/*CONTACT*/
.contact-card {
  background: #303841;
  border-radius: 15px;
}
.contact-link {
  
}

.svg-icon {
  border: 3px solid #eee;
  border-radius: 100px;
}

/* ANIMATIONS */
.svg-icon:hover {
  background: #303841;
  border-radius: 100px;
  text-shadow: 1px 2px 2px #303841d0;
  transition: 0.5s;
}

.Nav-btn-container-bottom button:hover {
  color: #ea9f00;
  text-shadow: 1px 2px 2px #303841d0;
  background: #303841;
  transition: 0.02s;
}

button:focus {
  outline: none;
}

.heading:hover .heading-a {
  background: #303841;
  transition: 0.02s;
}

.heading:hover .heading-b {
  color: #303841;
  transition: 0.02s;
}